{% extends "base.html" %}

{% block content %}

<h1>Customers</h1>

{% for customer in customers %}
<div class="spreadsheet"> <!-- Change id to class and use 'customer' instead of 'customers' -->
    <div>
         
        <a href="{{url_for('customer_detail', customer_id=customer.id)}}">{{ customer.name }}</a><!-- Change id to class -->
    </div> 
    <div>
        <p class="info">{{ customer.phone }}</p> <!-- Change id to class -->
    </div>
    <div>
        <p class="info">{{ customer.balance }}</p> <!-- Change id to class -->
    </div>
</div>
{% endfor %}
{% endblock %}