{% extends "base.html" %}

{% block content %}

<h1>Order Details</h1>

<h2>Information</h2>
<p>Order ID: {{ order.id }}</p>
<p>Total: {{ order.total }}</p>

<h2>Products</h2>
{% for item in order.items %}
<div>
    <p>Product: {{ item.product.name }}</p>
    <p>Price: {{ item.product.price }}</p>
    <p>Quantity Ordered: {{ item.quantity }}</p>
    <p>Quantity Available: {{ item.product.quantity_available }}</p>
</div>
{% endfor %}

<a href="/customer/{{ customer.id }}">Back to Customer Page</a>

{% endblock %}