{% extends "base.html" %}

{% block content %}


<h1>Order Details</h1>

<h2>Customer Information</h2>
<p>Name: {{ customer.name }}</p>
<p>Phone: {{ customer.phone }}</p>
<p>Balance: {{ customer.balance }}</p>

<h2>Order Information</h2>
<p>Order ID: {{ order.id }}</p>

<h2>Products</h2>
{% for product in order.products %}
<ul>
    <li>
        <p>Product Name: {{ product.name }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Quantity Ordered: {{ product.quantity }}</p>
    </li>
</ul>
{% endfor %}

<h2>Estimated Total</h2>
<p>{{ total }}</p>


{% endblock %}